
.ProfileTab {
  margin-top: 20px;
  span {
    font-size: 1.5rem;
    margin-left: 40px;
    font-weight: bold;
  }
}
.profilecontainer {
  margin-top: 60px;
  margin-left: 20px;
  margin-right: 20px;
  .profiletop {
    button {
      background-color: transparent;
      border: none;
      font-size: 1.2rem;
      cursor: pointer;
      color: black;
    }
    button:hover {
      color: grey;
    }
    hr {
      height: 0;
      border: 0.5px solid rgb(230, 227, 227);
      margin: 5px 0px;
    }
  }
  .profiledown{
    margin-left: 5px;
    form{
      margin: 30px 0px;
    }
    label{
      color: grey;
    }
    .search-go-p {
    display: flex;
    border: 1px solid #d5d7d9;
    border-radius: 5px;
    padding: 5px 5px;
    input {
      padding: 10px;
      border: none;
      outline: none;
      width: 25vw;
      margin: 0px;
    }
    button {
      background-color: #007bff;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      width: 100px;
    }
  }
  }
}
.name-p {
  display: flex;
  align-items: center;
}
.url-p {
  display: flex;
  align-items: center;
}
.submitlogo-p{
  display: flex;
  align-items: center;
  margin: 50px 5px;
}
.namein-p {
  margin-left: 105px;
}
.urlin-p {
  margin-left: 80px;
}
.iconin-p{
  margin-left: 130px;
  display: flex;
  align-items: center;
  button{
    border: none;
    background-color: transparent;
    color: #007bff;
    margin-left: 125px;
  }
}
.pass{
    display: flex;
    align-items: center;
.passin{
    margin-left: 110px;
}
}
.profilefoot{
  display:flex;
  flex-direction: column;
  span{
    margin: 40px 10px;
  }
  button{
    background-color: #007bff;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 10px;
      cursor: pointer;
      width: 220px;
      font-size: 1rem;
      margin: 0px 10px;
  }
}
